div {
    /* background-color: #B9FFF8; */
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

body {
    margin:0;
    text-align:center;
    font-family: 'Merriweather', serif;

}

h1 {
   margin:0;
   font-family: 'Sacramento', cursive;

}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{font-family: 'Montserrat', sans-serif;

}
.top-container{
    background-color: #B9FFF8;
    padding: 100px;
    position: relative;
}

.middle-container {
    
}

.bottom-container{
    
    
}
.Pro{
    text-decoration: underline;
}
.bottom-cloud{
   position:relative;
   bottom:300px;
   left:80px;
}
.top-cloud{
    position:relative;
    left:200px;
    bottom:30px;
    
}
.mountain{
    position: relative;
    right:60px;

}
