div {
    /* background-color: #B9FFF8; */
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

body {
    margin:0;
    text-align:center;
    font-family: 'Merriweather', serif;
    font-size: 200%;

}

h1 {
    font-size:5.625rem; /*since 16px equates to 100% thus 90 px equates to a 562.5%*/
   margin-top: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;

}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}
h3{font-family: 'Montserrat', sans-serif;

}
.top-container{
    background-color: #B9FFF8;
    padding: 100px;
    position: relative;
}

.middle-container {
    
}

.bottom-container{
    
    
}
.Pro{
    text-decoration: underline;
}
.bottom-cloud{
   position:relative;
   bottom:300px;
   left:80px;
}
.top-cloud{
    position:relative;
    left:250px;
    bottom:30px;
    top:30px;
    
}
.mountain{
    position: relative;
    right:60px;

}
.programmer{
    position:relative;
    bottom:50px;
}
